*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #000000;
    color: white;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;

}